<%- include("header") -%>

<div>

<h2>This is the about page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur fugiat neque placeat odit tempora fugit enim beatae officia repudiandae adipisci quisquam, suscipit molestias quod nostrum, eum iure natus quas. Amet.</p>
</div>


<%- include("footer") -%>